
###> symfony/framework-bundle ###
/.env.local
/.env.test
/.env.dev
/.env.prod
/.env.docker
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
# Ignorer tout le contenu du dossier photos
/public/uploads/photos/*
# Mais pas le dossier lui-même (via un fichier .gitkeep)
!/public/uploads/photos/.gitkeep

/var/
/vendor/
###< symfony/framework-bundle ###
/.idea/*
###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###


